/* DEFAULT STYLES TO MAKE LESSON PRETTY-ISH */
html,
body {
  margin: 0;
  padding: 0;
}

p {
  font-family: sans-serif;
  font-weight: bold;
  color: #3b3b3b;
  font-size: 18px;
}

.resize-me {
  text-align: center;
  margin: 0 auto;
  padding: 16px;
  background-color: LightPink;
  box-sizing: border-box;
  width: 90%;
}

@media (min-width: 640px) {
  .resize-me {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .resize-me {
    width: 30%;
  }
}

/* Add third media query here */
